:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  width: 100vw;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.cart-widget-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-cart{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  padding: 0.5rem;
}

.cart-number{
  font-size: 1rem;
  padding-left: 0.3rem;
}

.navbar-container{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b1a9a9 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.card-container{
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.item-container{
  border: 1px solid #000 !important;
  border-radius: 5px;
}

.product-price{
  font-size: 1.3rem;
  font-weight: 700;
}

.title{
  text-align: center;
  font-size: 2.7rem;
  padding: 1rem 0;
}


.card-detail-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.card-detail{
  border: 1px solid #000 !important;
}

.card-description{
  border-bottom: 1px solid #000;
  padding-bottom: 0.5rem;
}

.detail-button{
  background-color: #1d3557 !important;
  border: none;
}

.detail-button:hover{
  background-color: #a8dadc !important;
  color: #000;
}

.add-product-container{
  display: flex;
  background-color: #fff !important;
  border: none;
  border-radius: 5px;
  gap: 2px;
}

.add-button:hover{
  background-color: #fff;
  color: #000;
  border-color: #000;
  transition: all 0.2s;
}

.remove-button:hover{
  background-color: #fff;
  color: #000;
  border-color: #000;
  transition: all 0.2s;
}

.add-product:hover{
  background-color: #fff;
  color: #000;
  border-color: #000;
  transition: all 0.2s;
}

.cart-container{
  gap: 1.2rem;
  margin: 0 2rem;
}

.cart-title{
  text-align: center;
  padding: 1rem;
}

.products-container{
  display: flex;
  flex-flow: row wrap;
  padding: 0.6rem;
  justify-content: start;
  align-items: center;
  background-color: #b1a9a9;
  margin-bottom: 1rem;
  border-radius: 5px;
  gap: 1.2rem;
}

.product-name{
  color: #000;
  font-size: 1.7rem;
  font-weight: 700;
  margin: 0;
}

.product-quantity{
  color: #000;
  font-weight: 500;
  width: fit-content;
  border: 1px solid #000;
  border-radius: 3px;
  padding: 0.4rem;
  font-size: 0.8rem;
  margin: 0;
}

.product-total-price{
  display: flex;
  justify-content: end;
  color: #000;
  width: fit-content;
  font-weight: 700;
  font-size: 1.3rem;
  margin: 0;
}

.unit-price{
  display: flex;
  justify-content: center;
  font-size: 0.7rem;
  font-weight: 500;
  border: 1px solid #787474;
  border-radius: 2px;
  padding: 0 0.2rem;
  margin: 0;
}

.total-price-container{
  text-align: center;
  padding: 0 1rem;
  margin: 1rem 0;
  background-color: #787474;
}

.total-price{
  padding: 0.4rem 0;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  font-weight: 700;
}

.empty-cart{
  color: #fff;
}